<div class='container'>
  <div class='row'>
    <div class='col-md-3'>

      <h2>User info</h2>
      <%= render 'users/info',book: @book ,user: @user %>

      <h2 class="mt-3">New book</h2>
      <%= render 'form', user: @user ,book: @book_new %>
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image(100, 100) %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <tb>
            <!--いいねの表示切り替え-->
            <% if @book.favorited_by?(current_user) %>
              <p>
                <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
                <%= link_to book_favorites_path(@book), method: :delete do %>
                  ♥<%= @book.favorites.count %> いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
                <%= link_to book_favorites_path(@book), method: :post do %>
                  ♡<%= @book.favorites.count %> いいね
                <% end %>
              </p>
            <% end %>
          </tb>
          <tb>コメント件数：<%= @book.book_comments.count %></tb>

          <!--ユーザー本人にしか表示させないようにするコード-->
          <% if @user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      </table>

      <!--コメント機能-->
      <div>
        <% @book.book_comments.each do |book_comment| %>
          <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
          <%= book_comment.user.name %>
          <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>

          <% if post_comment.user == current_user %>
            <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
          <% end %>

        <% end %>
      </div>

      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>

    </div>
  </div>
</div>