<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/cb1a1fa502.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <main>
        <!--d-flex align-items-centerで子要素を中央寄せをし、justify-content-centerで左右の中央寄せになる-->
        <div class = "d-flex align-items-center justify-content-center">
          <!--検索フォームでモデル指定があるため変数受け渡しは必要なし-->
          <p><%= render 'searches/search_form' %></p>
        </div>
        <p id="notice"><%= notice %></p>
        <!--他のviewへ反映させるためのコード-->
        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
